<app-loader [isLoading]="isLoading"></app-loader>

<div class="container-fluid" *ngIf="!isLoading && newsArticles?.length > 0">
  <div class="row py-3">
    <div class="col-md-12 mb-4">
      <h4 class="font-weight-bold">News</h4>
    </div>
  </div>

  <div
    class="row mb-3"
    *ngFor="
      let news of newsArticles | paginate: { itemsPerPage: 10, currentPage: p }
    "
  >
    <div class="col-md-3">
      <div class="card border-0">
        <img
          src="../../assets/images/mkts.jpg"
          class="img-fluid"
          [alt]="news?.title"
        />
      </div>
    </div>
    <div class="col-md-9 align-self-center">
      <p class="text-muted mb-1 timestamp">
        {{ news?.timestamp | date: "dd MMM yyyy, hh:mm:ss" }} |
        <span class="text-capitalize"> {{ news?.source }}</span>
      </p>
      <h6 class="font-weight-bold title" (click)="visitArticle(news)">
        {{ news?.title }}
      </h6>
      <p class="mb-2 description">
        {{ news?.summary | slice: 0:160 }}
        <small
          class="text-primary pointer"
          *ngIf="news?.summary?.length > 160"
          (click)="visitArticle(news)"
          >.... read more</small
        >
      </p>
      <p>
        <small
          >Related:
          <span
            *ngFor="let item of news?.keywords"
            class="badge badge-light text-primary p-2 text-uppercase"
          >
            {{ item }}
          </span>
        </small>
      </p>
    </div>
  </div>
  <div class="row" *ngIf="!isLoading && newsArticles?.length > 0">
    <div class="col-md-12 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!isLoading && newsArticles?.length === 0">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card p-2 text-center">
        <h4 class="font-weight-bold">News</h4>
        <div class="body">
          <p>There are no news articles at the moment</p>
        </div>
      </div>
    </div>
  </div>
</div>
